@import '_vars';

@media (max-width:550px){
    .v-header{
        .contents{
            width: 300px;
            .bottom-form{
                .s6{
                    width: 100%;
                    text-align: left;
                    .forget-password{
                        float: right;
                        margin-top: -3.2rem;
                        
                    }
                }
            }
        }
        .g-navbar{
            height: 100%;
            background-color: $brand-black;
        }
    }

//Showcase
.showcase{
    text-align: left;
    .showcase-content{
       padding-left: 2rem;
       h1{
           line-height: 1;
       }
    }
}


}

