@import '_vars';
@import '_mixins';

@import '../css/materialize.css';
@import url('https://fonts.googleapis.com/css?family=Palanquin:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


*{
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}

html, body{
    margin: 0;
    font-family: $palanquin;
    user-select: none;
}



//Scrollbar
::-webkit-scrollbar {
    width: 0em;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.0);
    outline: 1px solid rgba(0, 0, 0, 0.0)
  }
  

  //Hide on Screens
  @media (max-width:550px){
      .hide-on-sm, .controller{
          display: none !important;
      }
  }
  @media (min-width:550px){
      .hide-on-lg{
          display: none;
      }
  }

//==============User Login
.v-header{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;

    .fullscreen-video{
        width: 100%;

        video{
            min-width: 100%;
            min-height: 100%;
        }
    }
    .v-overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 2;
    }
    .contents{
        position: absolute;
        top: 0;
        left: 50%;
        display: table;
        height: 100%;
        width: 400px;
        transform: translateX(-50%);
        z-index: 5;
        .contents-wrapper{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 100%;
            width: 100%;
            h3{
                color: #fff;
                font-size: 26px;
                font-weight: 400;
                span{
                    font-weight: 700;
                    display: block;
                }
            }
        }
        .v-form{
            background-color: $brand-black;
            padding: 2rem 2rem 0 2rem;
            @include inputReset();
            label{
                margin-left: 2rem;
                font-size: .8rem;
            }
            label.active{
                color: $brand-color !important;
            }
            .prefix{
                margin-left: -1.7rem;
                color: #fff;
                font-size: 1.2rem;
            }
            .nm{
               transform: translateY(-40%);
            }
            .bottom-form{
                margin-left: -20%;
                transform: translateY(-3rem);
                span{
                    font-size: .8rem;
                }
                a{
                    color: #777;
                    font-size: .8rem;
                    transition: all .3s;
                    &:hover{
                        color: #fff;
                    }
                }
                [type="checkbox"]:checked + span:not(.lever):before{
                    border-right-color: $brand-color;
                    border-bottom-color: $brand-color;
                }
            }
            .v-access{
                transform: translateY(-2rem);
                
            }
        }
        .logo-section{
           // padding-bottom: 0rem;
            img{
                width: 160px;
            }
        }
    }

}
//Active Label
label.active{
    color: $brand-color !important;
}

//DASH
.top-layer--header{
    height: 25px;
    width: 100%;
    position: fixed;
    top: -5%;
    left: 0;
    z-index: 30;
    box-shadow: 0 25px 25px -1px rgba(0, 0, 0, .8);
}
.g-header{
    .notifications{
        position: fixed;
        right: 5%;
        top: 4rem;
        display: none;
        transition: all .3s;
        .inner-notice{
            background-color: $brand-black;
            padding: 0 1rem 1rem 1rem;
            .notes{
                display: flex;
                width: 368px;
                justify-content: space-between;
                padding-top: 1rem;
                .note-img{
                    flex-basis: 35%;
                    height:70px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .inner-text{
                    flex-basis: 60%;
                    color: #fff;
                    p, span{
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 1rem;
                        color: #fff !important;
                    }p{
                        line-height: 1.1;
                    }
                }
            }
        }
    }
    .g-navbar{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        padding: .8rem 0;
        transition: all .3s;
        z-index: 50;
        .--trigger-notify{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                right: 22%;
                top: -6%;
                height: 1rem;
                width:  1rem;
                background-color: $brand-color;
                border-radius: 100%;
            }
        }
        .search{
            position: fixed;
            right: 20%;
            width: 300px;
            border-bottom: 2px solid #fff;
            color: #fff;
            transform: translateY(-200%);
            transition: all .3s;
        }
        .g-wrapper{
            width: 80%;
            margin: .5rem auto 0 auto;
            .left-nav__items{
                float: left;
                display: flex;
                ul{
                    margin: 0;
                    li{
                        display: inline-block;
                        padding: 0 1rem;
                        a{
                            color: #fff;
                            text-transform: uppercase;
                            font-size: .8rem;
                        }
                    }
                }
            }
            .right-nav__items{
                float: right;
                display: flex;
                a{
                   color: #fff;
                   padding: .4rem 1rem;
                   font-size: 1.2rem;
                }
            }
            .brand-logo{
                display: inline-block;
                padding-right: 1rem;
                margin-top: -1.5rem;
                img{
                    width: 100px;
                }
            }
        }
         //============User Prev
    .user-prev{
        position: absolute;
        right: 10%;
        top: 4.3rem;
        background-color: $brand-black;
        width: 339px;
        height: 201px;
        font-family: $mons;
        text-align: center;
        display: none;
        transition: all .3s;
        .inner-user__prev{
            display: flex;
            justify-content: space-between;
            .name-holder{
                flex-basis: 60%;
                text-align: left;
                padding-left: .5rem;
                h2{
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 600;
                    //word-break: break-all;
                    width: 10rem;
                }
            }
        }
        .ui-img{
            flex-basis: 30%;
            margin-left: auto;
            margin-top: 1.5rem;
            .img-wrapper{
                @include userProfileImg();
                width: 90px;
                height: 90px;
            }
        }
        a{
            color: #fff;
            display: inline-block;
            padding: 1rem;
            &:hover{
                color: $brand-color;
            }
        }
        .tri{
          @include triangleShape()
        }
     }


     //Mobile
     @media (max-width:550px) {
         //display: none;
         background-color: $brand-black;
         .left-nav__items{
             ul{
                 display: none;
             }
         }
     }
    }
}
.showcase{
    display: table;
    height: 100vh;
    width: 100%;
   background-position: center;
    background-size: cover;
    text-align: center;
    .showcase-content{
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        padding: 1rem;
        h1{
            font-family: $mons;
            font-weight: 700;
            font-size: 3.5rem;
            margin: .5rem 0 0 0;
            line-height: .4;
        }
        p{
            font-size: 1.4rem;
        }
    }
    .case-alt{
        background-color: rgba(0, 0, 0, .0);
    }
}



main{
    background-color: $brand-black;
    box-shadow: 0 -20px 20px -2px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    padding-top: 2rem;
    .v-slider{
        background-color: $brand-black;
        height: 100%;
        width: 95%;
        margin-left: auto;
        overflow-x: scroll;
        transition: all .3s;
        &:hover{
            width: 100%;
        }

     }
    
}



.v-courses{
    width: 100%;
    *{
        overflow: visible !important;
    }
}
    .sliders{
        height: 266px;
        width: 398px;
        transition: all .3s;
        margin: 0 .5rem;
        position: relative;
        z-index: 10;
        &:hover{
            transform: scale(1.4);
            z-index: 15;
        }
        .slide-content{
            display: table;
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            z-index: 10;
            h2{
                color: #fff;
                font-size: 1.75rem;
                font-weight: 700;
                font-family: $mons;
                margin: 0;
            }
        }
        .top-layer{
           @include DisplayCell();
           vertical-align: middle;
           transition: all .3s;
        }
        .bottom-layer{
            @include DisplayCell();
            vertical-align: bottom;
            text-align: left;
            padding: 1.5rem;
            transition: all .3s;
            display: none;
            h2{
                transform: scale(.8) translateX(-2rem);

            }
            p{
                color: #fff;
                font-size: .8rem;
                margin: .4rem 0 0 0;
                max-width: 70%;
                font-family: $palanquin;
            }
            .bottom-contents{
                position: relative;
                .show-dictionary__prev{
                    position: absolute;
                    right: 0;
                    bottom: 5%;
                    width: 2rem;
                }
            }
            .top-content{
                position: relative;
                height: 70%;
                .ui-action-icons{
                    position: absolute;
                    right: 0;
                    top: 0%;
                    i{
                        color: #fff;
                        display: block;
                        margin-bottom: 1rem;
                        position: relative;
                        padding: .2rem;
                        &::before{
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: '';
                            height: 100%;
                            width: 100%;
                            border: 1px solid #fff;
                            border-radius: 50%;

                        }
                    }
                }
            }
        }
       
       @media (max-width:550px) {
           height: 150px;
           .slide-content{
               h2{
                   font-size: 1rem;
               }
               .top-content{
                   height: 50%;
                   .ui-action-icons{
                       i{
                           font-size: 1rem;
                       }
                   }
               }
               .bottom-contents{
                   .show-dictionary__prev{
                       width: 1.5rem;
                   }
               }
           }
       }
       &:hover .top-layer{
           display: none;
       }
       &:hover .bottom-layer{
        display: table;
    }

    /* For 1024 Resolution */  
    @media only screen   
    and (min-device-width : 768px)  { 
        height: 200px;
        width: 300px;
        .slide-content{
            h2{
                font-size: 1.25rem;
            }
        }
        .bottom-contents{
            top: -1.2rem;
            p{
                font-size: .7rem;
            }
            .show-dictionary__prev{
                width: 1.5rem !important;
            }
        }
        .top-content{
            .ui-action-icons{
                i{
                    font-size: 1rem;
                }
            }
        }
    }
     // For 1920
     @media (min-width:1920px) {
        height: 300px;
        width: 420px !important;
        .slide-content{
            h2{
                font-size: 2rem;
            }
        }
        .bottom-layer{
            h2{
                transform: translateX(-.2rem);
            }
        }
        .top-content{
            .ui-action-icons{
                i{
                    font-size: 1.5rem;
                }
            }
        }
        .bottom-contents{
            p{
                font-size: 1rem;
            }
            .show-dictionary__prev{
                width: 2rem !important;
            }
        }
    }

    }





#new, #trending, #digital, #continue{
    height: 450px;
    padding: 0;
    width: 95%;
    margin-left: auto;
    transition: all .3s;
    &:hover{
        width: 100%;
    }
    .glide__track{
        height: 100%;
        .glide__slides{
            height: 100%;
            .glide__slide{
                height: 100%;
                padding-top: 3%;
                @media (max-width:550px) {
                    width: 500px !important;
                }
                  /* For 1024 Resolution */  
                @media only screen   
                and (min-device-width : 768px)  { 
                    width: 310px !important;
                }

                // For 1920
                @media (min-width:1920px) {
                    width: 430px !important;
                }
            }
            
        }
    }
    .glide__arrow{
        height: 60%;
        margin-top: -.4rem;
    }
    .glide__bullets{
        top: 3rem;
    }
    .v-title{
        font-size: 1rem;
        color: $gray-text;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 0;
        transform: translateY(4rem);
    }

    .progress{
        position: absolute;
        left: 0;
        bottom: -7%;
        background-color: $brand-gray;
        .determinate{
            background-color: $brand-color;
        }
    }
      /* For 1024 Resolution */  
      @media only screen   
      and (min-device-width : 768px)  { 
          height: 350px !important;
          .glide__arrow{
              margin-top: 0rem;
          }
      }
       // For 1920
       @media (min-width:1920px) {
        height: 500px !important;
    }
}

#continue{
    width: 90%;
    margin-right: auto;
    margin-top: -2.5rem;
    .v-title{
        transform: translateY(5.5rem);
    }
    &:hover{
        width: 90%;
    }
    .glide__arrow{
        margin-top: 2.4rem;
    }
    @media only screen   
    and (min-device-width : 768px)  { 
        height: 390px !important;
        .glide__arrow{
            margin-top: 2rem;
            opacity: 1;
            background: transparent;
            color: transparent;
            transition: all .3s;
            &:hover{
                background-color: rgba(0, 0, 0, .3);
                color: #fff;
            }
        }
        .glide__arrow--left{
            &::before{
                content: '';
                position: absolute;
                top: -30%;
                left: -6rem;
                width: 90px;
                height: 150%;
                background-color: $brand-black;
            }
        }
        .glide__arrow--right{
            &::before{
                content: '';
                position: absolute;
                top: -30%;
                right: -6rem;
                width: 90px;
                height: 150%;
                background-color: $brand-black;
            }
        }
        .v-title{
            transform: translateY(7rem);
        }
        
    }
    .progress{
        bottom: -1rem;
        border-radius: 0px;
    }
    @media (min-width:1920px) {
        height: 590px !important;
    }
}
.glide-continue, .glide__track{
    position: relative;

}
.glide-continue{
    width: 90%;
    margin: 0 auto;
    .glide__slide{
        margin: 0 3.5rem !important;
    }
    .v-title{
        font-size: 1rem;
        text-transform: uppercase;
        color: $gray-text;
    }
}
.glide__slide{
    margin-right: 2rem;
}



    .glide-blocks{
        display: table;
        height: 224px;
        width: 389px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        cursor: default;
        .list-overlay{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: 10;
            padding: 0 3rem;
            h2{
                color: #fff;
                font-size: 1.75rem;
                font-family: $mons;
                font-weight: 700;
                text-align: center;
            }
        }
    }





.glide__bullet[class*=active] {
    background-color: #fff;
}

.glide__bullets {
    position: absolute;
    z-index: 4;
    top: 0rem;
    left: 91%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
}


.glide__bullet {
    background-color: $brand-gray;// hsla(0,0%,100%,.5);
    width: 26px;
    height: 3px;
    padding: 0;
    border-radius: 0% !important;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
   // box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    margin: 0 .25em;
}

.glide__arrow{
    height: 90%;
    background-color: rgba(0, 0, 0, .3);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    z-index: 20;
    font-size: 3rem;
    opacity: 0;
    &:focus{
        background-color: rgba(0, 0, 0, .3);
    }
    &:hover{
        opacity: 1;
    }
}
.glide__arrow--left{
    left: -.5rem;
}
.glide__arrow--right{
    right: -1rem;
}


//===DASH PAGE ====// 
.dash-wrap{
    width: 90% !important;
}


//=========================Append classes==================//
.g-navbar.navbar{
    background-color: $brand-black;
}
.user-prev.user-prev__active{
    display: block;
}
.sliders-margin{
    margin-left: 8rem;
}
.v-slider.v-slider-width{
   width: 100%;
}
.v-course-brief.brief-active{
    display: block;
}
.search.search-active{
    color: #fff;
}
.sliders.slider-active{
    border: 5px solid #fff;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2rem;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 15px solid #fff;
        z-index: 20;
    }
}
.--trigger-notify.use-tri{
    &::after{
        content: '';
        @include triangleShape();
        top: 55%;
        left: 24%;
    }
}
.notifications.notify-active{
    display: block;
}
.--trigger-notify.scale-notify{
    transition: all ease-in-out 1s;
    &::before{
        animation:  scaleNotify 1s;
    }
}
@keyframes scaleNotify{
    0%{ transform: scale(0); }
    40%{ transform: scale(1.2); }
    80%{ transform: scale(0); }
    100%{ transform: scale(1.4); }
}

.cc-class{
    display: block !important;
}








//=============User Profile
.modify-profile{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
    display: none;
}
.user-content{
    width: 844px;
    height: 525px;
    background-color: $brand-black;
    margin: 0 auto;
    padding-top: 4rem;
    .row{
        margin-top: 0;
        margin-bottom: 0;
    }
    input[type="text"]{
        color: #fff;
        font-size: 1.75rem;
    }
    input{
        color: #777;
       &:focus{
           outline: none;
       }
    }
    .inner-content{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        .ui-settings{
            flex-basis: 60%;
            padding-left: 3%;
        }
        .ui-img{
            flex-basis: 35%;
            padding-top: 8%;
            position: relative;
            .edit-img{
                position: absolute;
                right: 0;
                top: 25%;
                z-index: 10;
                width: 51px;
                height: 51px;
                border: 2px solid #fff;
                border-radius: 100%;
                background-color: $brand-black;
                cursor: pointer; i{
                    display: inline-block;
                    font-size: 2.1rem;
                    transform: translateY(28%);
                }
            }
           .img-wrapper{
             @include userProfileImg();
           }
            @media (max-width:550px) {
                padding-top: 1%;
                .edit-img{
                    width: 30px;
                    height: 30px;
                    right: 4rem;
                    top: 1rem; i{
                        font-size: 1rem;
                        transform: translate(.4rem, .3rem);
                    }
                }
                .img-wrapper{
                    margin-left: 3rem;
                }
            }
        }
    }
    .setting-action{
        .g-btn{
            display: inline-block;
            margin-left: 1rem;
            margin-top: 1.5rem;
        }
    }
    @media (max-width:550px) {
        margin-top: 10%;
        padding-top: 4rem;
        height: 100%;
        width: 95%;
        overflow-y: scroll;
        .inner-content{
            flex-direction: column;
            .ui-settings{
                .row{
                    .input-field{
                        margin-top: -.5rem;
                    }
                }
            }
        }
        .setting-action{
            .g-btn{
                display: block;
                transform: translateX(50%);
            }
        }
    }
}

//=======Brief
.v-course-brief{
    height: 100%;
    position: relative;
    background: $brand-gray;
    font-weight: 700;
    margin-bottom: 16%;
    display: none;

    .--close-course-preview{
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 20;
        color: #fff; i{
            font-size: 4rem;
        }
    }
    .brief-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        h1{
            color: #f8f8f8;
            font-weight: 700;
            font-size: 70px;
            font-family: $mons;
        }
        .brief-desc{
            color: #fff;
            font-weight: 400;
            max-width: 60%;
            font-size: 1.35rem;
        }
        .brief-details{
            color: #fff;
            display: flex;
            justify-content: space-between;
            width: 300px;
            ul{
                flex-basis: 50%;
                li{
                    font-size: 1.35em;
                    padding: .5rem 0;
                }
            }

        }
        .bottom-action-buttons{
            padding-top: 1rem;
            .start-now{
                @include coloredBtnInline();
               i{
                @include btnWithIcon();
               }
            }
            .add-to-list{
                @include sliverButton();
                i{
                    @include btnWithIcon();
                }
            }
            @media (max-width:550px) {
                margin-top: 2rem;
                position: absolute;
                bottom: -23rem;
                left: 10%;
                text-align: center;
                transform: translate(40%, 150%);
               .start-now, .add-to-list{
                display: block;
                 text-align: center;
                 font-size: 1rem;
                 padding-top: 1rem;
                 margin: 2rem auto; i{
                     float: left;
                     transform: translateY(-.4rem);
                 }
               }
            }
        }
    }
    .brief-bg{
        display:table;
        height: 550px;
        flex-basis: 60%;
        background-position: center;
        background-size: cover;
        .brief-bg__inner{
            display: table-cell;
            height: 100%;
            width: 100%;
            background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #434343);
            opacity: .5;

        }
    }

    .v-course-steps{
        padding-bottom: 1rem;
        width: 90%;
        margin: 2rem auto;
        position: relative;
        .step-line{
            height: .2rem;
            width: 80%;
            margin: 0 auto;
            background-color: $brand-black;
            transform: translateY(1.1rem);
            @media (max-width:550px) {
                position: absolute;
                left: 2%;
                height: 80%;
                width: .2rem;
            }
        }
        .steps-wrapper{
            display: flex;
            justify-content: space-between;
            .circle-pass{
                width: 30px;
                height: 30px;
                margin: 0 auto;
                background-color: $brand-black;
                border-radius: 50px;
                position: relative;
                z-index: 10;
                @media (max-width:550px) {
                    width: 20px;
                    height: 20px;
                }
            }
            .is-on{
                border: 2px solid $brand-color;
                background-color: $brand-gray;
            }
           .steps{
               flex-basis: 20%;
               text-align: center;
               h3{
                   text-transform: uppercase;
                   color: #fff;
                   font-size: 1.25rem;
                   font-family: $mons;
                   margin-bottom: 2rem;
               }
               p{
                   line-height: .3;
                   font-size: 1.25rem;
                   color: #fff;
                   font-weight: 400;
                   span{
                       color: $brand-color;
                   }
               }
               @media (max-width:550px) {
                   position: relative;
                   padding-bottom: 2rem;
                   h3{
                       float: left;
                       font-size: 1.2rem;
                       max-width: 40%;
                       text-align: left;
                       margin-left: 2rem;
                       margin-top: -1.5rem;
                   }
                   p{
                       float: right;
                       font-size: .9rem;
                       margin-top: -1.5rem;
                       line-height: 2;
                   }
               }
           }
        }
    }

    @media only screen   
    and (min-device-width : 768px)  { 
      .brief-container{
          h1{
              font-size: 50px;
          }
      }
      .steps{
          h3{
              font-size: 1rem !important;
          }
      }
      .--close-course-preview{
          i{
              font-size: 3rem;
          }
      }
    }
}


//======== Course Page =============//
.v-in-course__header{
    margin-left: 250px;
}
.v-test{
    height: 100%;
    width: 100%;
    .inner-q__wrap{
        background-color: $brand-gray;
        padding: 2rem 0;
        position: relative;
        width: 90%;
        margin-left: 2%;
        &::before{
            content: '';
            position: absolute;
            left: -12rem;
            top: 0;
            height: 100%;
            width: 40%;
            background-color: $brand-gray;
            display: none;
        }
        &::after{
            content: '';
            position: absolute;
            right: -8rem;
            top: 0;
            height: 100%;
            width: 20%;
            background-color: $brand-gray;
        }
    }
    .q-wrap-add{
        &::before{
            display: block;
        }
    }
    .q-wrap-color{
        &::before, &::after{
            background-color: $off-white;
        }
    }
}
.v-in-course{
    margin-left: 250px;
    height: 100%;
    padding-bottom: 10%;
    .resize-width{
        position: fixed;
        left: 18.6rem;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 100px;
        width: 40px;
        height: 40px; i {
            display: inline-block;
            padding-left: .9rem;
            padding-top: .5rem;
            font-size: 1.8rem;
        }
    }
    .q-extra__content{
        height: 0px;
        overflow: hidden;
        background-color: $brand-black;
    }
    .v-questions{
        padding: 2rem 0;
        display: none;
        .img-sm{
            width: 200px;
            display: block;
            margin: 2rem auto;
        }
        .ml{
            margin-bottom: 3rem;
        }
        .brief-answer{
            margin-top: 2.5rem;
            height: 0;
            overflow: hidden;
        }
        .option-grid{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            text-align: center;
            grid-gap: 30px;
            .question-options{
                height: 60px;
                background-color: $brand-black;
                font-size: 1.25rem;
                color: #fff;
                padding-top: 1rem;
                border-radius: 50px;
                font-family: $mons;
                border: 2px solid transparent;
                &:hover{
                    background-color: $brand-gray;
                    border-color: #fff;
                }
            }
            .color-choice{
                border-color: $brand-color;
                color: $brand-color;
                pointer-events: none;
            }
            .all-choice-disable{
                pointer-events: none;
            }
            .right-option__select{
                position: relative;
                &::before{
                    font-family: 'Material Icons';
                    font-size: 2.5rem;
                    content: 'check';
                    position: absolute;
                    right: 5%;
                    top: 3%;
                }
            }
            .wrong-option__select{
                position: relative;
                &::before{
                    font-family: 'Material Icons';
                    font-size: 2.5rem;
                    content: 'clear';
                    position: absolute;
                    right: 5%;
                    top: 3%;
                }
            }
        }
    }
    .in-wrapper{
        h2{
            color: $brand-color;
            font-size: 1.75rem;
            font-weight: bold;
            font-family: $mons;
        }
        .v-paragraph, p{
            font-size: 1.25rem;
            color: #fff;
            line-height: 1.7;
        }
        img{
            width: 100%;
            margin: 5rem auto;
        }
        blockquote{
            border-left: 1px solid transparent;
            font-size: 1.75rem;
            line-height: 1;
            color: #fff;
        }
        strong{
            font-weight: 800;
        }
    }
    .v-course-main__content, .q-wrapper, .q-extra__content{
        width: 50%;
        margin: 0rem auto;
        @media (max-width:550px) {
            width: 90%;
        }
    }
    .v-course-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 299px;
        background-color: $brand-gray;
        padding-left: 2rem;
        z-index: 20;
        overflow-y: scroll;
        .v-course-progress__bar{
            color: #fff;
            font-family: $mons;
            padding: 3rem 0; 
            .progress-wrap{
                padding-left: 1rem;
                .parent-progress{
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    max-width: 200px;
                    margin: 0;
                    display: block;
                    padding-left: 3rem;
                    padding-bottom: 3rem;
                    border-left: 3px solid $brand-black;
                    position: relative;
                    &::before{
                        @include progressCirclesOnCoursesParent();
                    }
                } ul{
                    max-width: 150px;
                    margin: 0;
                    .progress-steps{
                        display: block;
                        padding: 0 0 3rem 3rem;
                        font-size: .9rem;
                        position: relative;
                        border-left: 3px solid $brand-black;
                        &::before{
                            @include progressCirclesOnCourses();
                        }
                    }
                    .finished{
                        border-left-color: $brand-color;
                        &::before{
                            content: '';
                            background-color: $brand-color;
                            border-color: $brand-color;
                        }
                    }
                    .in-progress{
                        border-left-color: $brand-color;
                        &::before{
                            content: '';
                            border-color: $brand-color;
                        }
                    }
                }
                .par-active{
                    border-left-color: $brand-color;
                    &::before{
                        background-color: $brand-color;
                        color: $brand-black;
                    }
                }
                .par-selected{
                    &::before{
                        content: 'keyboard_arrow_down';
                    }
                }
                .par-theme-changed{
                    &::before{
                        color: #fff;
                    }
                }
            }
        }
        .theme-toggle{
            width: 4rem;
            margin-top: 4rem;
            margin-bottom: 3rem;
            background-color: #fff;
            height: .3rem;
            border-radius: 50px; .material-icons{
                display: inline-block;
                font-size: 1.5rem;
                color: $brand-black;
                transform: translate(3rem, -.7rem) rotate(140deg);
                width: 28px;
                height: 28px;
                background-color: #fff;
                border-radius: 50px;
                padding-left: .3rem;
                padding-top: .2rem;
            }
            .theme-icon{
                background-color: $brand-black;
                color: #fff;
                font-size: 1.3rem;
                text-align: center;
                padding-left: .1rem;
                padding-top: .3rem;
            }
        }
        @media (max-width:550px) {
            transform: translateX(-5rem);
        }
    }
}


//Progress Overlay Helper
.progress-overlay{
    position: fixed;
    top: 0;
    left: 6.4rem;
    z-index: 30;
    height: 100%;
    width: 24px;
    background-color: $brand-gray;
    display: none;
    opacity: 0;
}


//Course Stats
.v-course-stats{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    .stat-inner__wrapper{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        .stat-block{
            flex-basis: 50%;
            padding: 2rem 0;
            p{
                font-weight: lighter;
                color: $brand-color;
                font-size: 1.25rem;
            }
            h2{
                color: #fff;
                font-size: 2.5rem;
                margin: 0;
                font-weight: 700;
            }
        }
    }
}


//===============FAVOURITES PAGE & CONTINUE PAGE =======//

.favourites, .continue, .categorie, .certificates{
    .inner-fav__wrap{
        width: 80%;
        margin: 2rem auto;
        padding: 6rem 0;
        h3{
            color: $gray-text;
            font-size: 1.1875rem;
            text-transform: uppercase;
        }
    }

    .fav-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        .fav-blocks{
            margin-top: 2rem;
            position: relative;
            display: table;
            height: 224px;
            width: 100%;
            overflow: hidden;
            .list-overlay{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .3);
                position: relative;
                z-index: 10;
                padding: 0 3rem;
                h2{
                    color: #fff;
                    font-size: 1.75rem;
                    font-family: $mons;
                    font-weight: 700;
                    text-align: center;
                }
            }
            img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        @media (max-width:550px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    //CONTINUE PROGRESS
    .progress{
        position: absolute;
        left: 0;
        bottom: -7%;
        background-color: $brand-gray;
        .determinate{
            background-color: $brand-color;
        }
    }
}
.categorie{
    .list-overlay{
        background: linear-gradient(90deg, rgba(228,67,124,.5) 0%, rgba(0,0,0,.5) 100%, rgba(45,45,45,0) 100%);
    }
}

//===== Footer ====// 
.main-footer{
    width: 100%;
    background-color: $brand-gray;
    padding: .5rem 0;
    .inner-footer{
        width: 80%;
        margin: 2rem auto;
        .iva{
            float: right;
            text-transform: uppercase;
            color: #fff;
            font-size: 1rem;
            font-family: $mons;
            margin-top: -2rem;
        }
        .bottom-brand{
            img{
                width: 165px;
            }
        }
    }
    @media (max-width:550px) {
        .bottom-brand{
            img{
                width: 120px !important;
            }
        }
    }
}
.fm-5{
    transform: translateY(2rem);
}


//================== COURSE COMPLETED ===== // 
.course-completed{
    padding: 8rem 0;
    .inner-complete{
        width: 45%;
        margin: 2rem auto;
        text-align: center;
        .cc-contents{
            color: #fff;
            h1{
                font-family: $mons;
                font-size: 2.5rem;
                font-weight: 700;
            }
            p{
                font-size: 1.25rem;
            }
        }
        .cc-img{
            width: 60%;
            margin: 0 auto; img{
                width: 100%;
            }
        }
    }
}

//=============== CERT PAGE ============// 
.cert{
    padding: 5rem 0;
    text-align: center;
    .inner-cert{
        width: 60%;
        margin: 3rem auto;
        img{
            width: 100%;
        }
        p{
            font-size: 1.25rem;
            color: #fff;
        }
        i{
            color: $brand-color;
            display: inline-block;
            padding-right: .5rem;
        }
        .share-cert-social{
           img{
            width: 40px;
            margin-right: 1rem;
            margin-left: 1rem;
            margin-top: 1rem;
            cursor: pointer;
           }
        }
    }
    @media (max-width:550px) {
        .inner-cert{
            width: 80%;
            a{
                margin-top: 1rem;
            }
        }
    }
}


//====== TOTAL POINTS PAGE ===// 
.controller{
    position: absolute;
    top: 58%;
    z-index: 10;
    transform: translateY(60%);
    font-size: 6rem;
    color: #fff;
    cursor: pointer;
}
.prev-slide{
    left: 1%;
}
.next-slide{
    right: 40%;
}
.total-points{
    padding: 10% 0;
    position: relative; 
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    @media (max-width:550px) {
        display: block !important;
    }
}
.carousel{
    height: 900px;
    flex-basis: 65%;
    margin-left: -5rem;
    
    .carousel-item{
        width: 80%;
        height: 723px;
        background-color: $brand-gray;
        .inner-point{
            margin: 1rem auto;
            position: relative;
            h4{
                font-size: 1.75rem;
                text-align: center;
                text-transform: uppercase;
                color: $brand-color;
            }
        }
        li{
            color: #fff;
            font-size: 1.65rem;
            padding: .7rem 2rem;
            font-weight: 300;
            display: flex;
            .asn{
                display: inline-block;
                //margin-right: 7rem;
                font-weight: 300;
                padding: 0 1rem;
                flex-basis: 30%;
            }
            .deg{
                flex-basis: 30%;
                font-weight: 300;
            }
            .points{
                font-weight: 300;
                color: $brand-color;
                position: absolute;
                right: 3%;
            }
        }
        .is-user{
            background-color: lighten($brand-gray, 5);
        }
        .highest{
            font-weight: 700;
            .asn{
                position: relative;
                z-index: 4;
                color: #fff;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    //width: 100%;
                   // height: 40px;
                    background-color: $brand-color;
                    border-radius: 50px;
                }
            }
        }
    }
}
//========User Achievement
.user-achievement{
    flex-basis: 27%;
    height: 724px;
    display: flex;
    justify-content: center;
    margin-top: 5.8rem;
    margin-right: 5rem;
    .side-achivement__bar{
        flex-basis: 10%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        .top, .bottom{
            display: block;
            height: 50%;
            width: 100%;
            background-color: $brand-gray;
            opacity: .5;
            position: relative;
            z-index: 10;
            cursor: pointer;
            h4{
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25rem;
                margin: 0;
                padding: .3rem;
            }
        }
        .bottom{
            position: relative;
            z-index: 20;
            &::before{
                content: '';
                position: absolute;
                right: -.5rem;
                top: -1.5rem;
                height: 40px;
                width: 100%;
                background-color: $brand-gray;
                transform: rotate(60deg);
                z-index: 10;

            }
            h4{
                position: absolute;
                bottom: 0;
            }
        }
        .top{
            position: relative;
            z-index: 20;
            &::before{
                content: '';
                position: absolute;
                right: -.5rem;
                bottom: -1.5rem;
                height: 40px;
                width: 100%;
                background-color: $brand-gray;
                transform: rotate(-60deg);
                z-index: 10;

            }
            h4{
                position: absolute;
                
            }
        }
      
    }
    .bar-active{
        opacity: 1 !important;
    }
    .achivements{
        padding-bottom: 4rem;
        p{
            color: $brand-color;
            font-size: 1.25rem;
            line-height: 0;
        }
        h3{
            font-size: 2.5rem;
            font-family: $mons;
            color: #fff;
            font-weight: 700;
        }
        .ua-details{
            margin-bottom: 5rem;
        }
    }
    .inner-achievement{
        background-color: $brand-gray;
        text-align: center;
        margin-left: auto;
        position: relative;
        left: -.1rem;
        flex-basis: 90%;
        z-index: 5;
    }
    .top-section{
        transform: translateY(-39%);
        h2{
            font-size: 1.75rem;
            color: #fff;
            line-height: 0;
            font-weight: 700;
        }
        .img-wrapper{
            margin: 0 auto;
            @include userProfileImg();
            width: 172px;
            height: 172px;
            @media (max-width:550px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    .statictics{
        position: absolute;
        top: 13rem;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        opacity: 0;
        p{
            color: #fff;
            font-size: 1.25rem;
        }
        .us-details{
            margin-bottom: 2.5rem;
            .progress{
                background-color: $brand-black;
                .determinate{
                    background-color: $brand-color;
                }
            }
        }
        @media (max-width:550px) {
            top: 10rem;
            .us-details{
                .progress{
                    height: 2px;
                }
            }
        }
    }
    @media (max-width:550px) {
        width: 298px;
        height: 600px;
        .inner-achievement{
            left: -1rem;
            padding-right: .5rem;
            flex-basis: 86%;
        }
        .achivements{
            margin-top: 4rem;
            h3{
                font-size: 1.8rem;
            }
        }
    }
}

//================Badges
.badges{
    padding-bottom: 3rem;
    h2{
        text-transform: uppercase;
        font-size: 1.75rem;
        text-align: center;
        color: #fff;
        margin-bottom: 5rem;
    }

    .badge-wrapper{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 18%);
        grid-gap: 6rem;
        .badge{
            //flex-basis: 18%;
            img{
                width: 100%;
            }
        }
    }
    @media (max-width:550px) {
        h2{
            margin-bottom: 2rem;
        }
        .badge-wrapper{
            grid-template-columns: repeat(2, 48%);
            grid-gap: 1rem;
        }
    }
}


//====== Mobile Achievements =====/// 
.mobile-carousel{
    position: relative;
    margin-top: 10%;
    min-width: 100%;

    .ua-navigation{
       overflow-x: scroll;
        display: flex;
        background-color: transparent;
        width: 100%;
        a{
            min-width: 160px;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            color: $brand-color;
            margin: 2rem 0;
        }
        .ac-link{
            color: #fff;
            background-color: $brand-color;
            padding: .3rem 1rem;
            border-radius: 50px;
        }
    }
}

//===========Certificates
.certificates{
    .inner-fav__wrap{
        //padding: 2rem 0;
        h2{
            text-align: center;
            color: #fff;
            font-size: 1.75rem;
            text-transform: uppercase;
        }
    }
}











//MOBILE RULES ===============///@extend
@media (max-width:550px){
    .v-header{
        .contents{
            width: 300px;
            .bottom-form{
                .s6{
                    width: 100%;
                    text-align: left;
                    .forget-password{
                        float: right;
                        margin-top: -3.2rem;
                        
                    }
                }
            }
        }
    }

//Showcase
.showcase{
    text-align: left;
    .showcase-content{
       padding-left: 2rem;
       h1{
           line-height: 1;
           font-size: 2.25rem;
       }
    }
}



#new, #trending, #digital{
    height: 300px;
}

.sliders{
    &:hover{
        transform: scale(1.2);
    }
}



.v-course-brief{
    .--close-course-preview{
        transform: translateY(-2.5rem);
        i{
            font-size: 3rem;
        }
    }
    .brief-container{
        flex-direction: column;
        width: 100%;
        .brief-bg{
            height: 300px;
            transform: translateY(-140%);
        }
        .brief-desc{
            max-width: 100%;
        }
    }
    .brief-contents{
        transform: translateY(70%);
        padding: 0 2rem;
        h1{
            font-size: 2.5rem;
            max-width: 70%;
        }
    }
    .steps-wrapper{
        flex-direction: column;
        .circle-pass {
            left: -11rem;
        }
    }
    padding-bottom: 8rem;
}
}


//Cloned Image
.cloned-image{
    position: absolute;
    top: -50%;
    left: 15%;
    z-index: 3;
    img{
        width: 90%;
        margin: 0 auto;
    }
}
.cloned-image-change{
    position: fixed;
    left: 10%;
}


//Create Space for Sliders on Hover



